* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html {
  height: 100%;
} */

body {
  /* display: flex;
  justify-content: center; */
  margin: 20px auto 0;
  max-width: 700px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.dnd-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  color: #fff;
  list-style: none;
}

.dnd-item-one {
  background-color: aquamarine;
}
.dnd-item-two {
  background-color: darksalmon;
}
.dnd-item-three {
  background-color: violet;
}
.dnd-item-four {
  background-color: slateblue;
}
.dnd-item-five {
  background-color: khaki;
}
.dnd-item-six {
  background-color: seagreen;
}

li.drag-sort-active {
  background: transparent;
  color: transparent;
  border: 1px solid #4ca1af;
}

.input-wrapper {
  width: 100%;
  /* height: 90px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-default {
  height: 100%;
  border: none;
  outline: none;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 10px;
}

.input-variable-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-bullet {
  display: none;
  font-size: 20px;
  width: 20px;
  padding-top: 3px;
}

.input-variable {
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.popper-wrapper-hidden {
  display: none;
}

.popper-wrapper {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 16px;
}

.popper-box {
  height: 70px;
  padding: 8px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popper-box:hover {
  background-color: lightgray;
  cursor: pointer;
  border-radius: 2px;
}

.popper-icon {
  width: 20%;
  height: 100%;
  border: 1px solid #ecebec;
  border-radius: 5px;
  margin-right: 10px;
  padding: 6px;
}

.popper-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 3px;
}

.popper-title {
  font-size: 15px;
  /* font-weight: 500; */
  /* color: dimgray; */
}

.popper-subtitle {
  font-size: 13px;
  color: gray;
}
